.meet {
	text-align: center;
	font-size: 5em;
	font-family: 'Open Sans', sans-serif;
	color: #0098bd;
}

.main-content {
	padding-top: 80px; 
}

.pic-row {
	padding: 25px 0 100px 60px;
	text-align: center;
}

.profpic {
	height: 250px; 
	width: 250px;
	border-radius: 150px;
	margin: 25px 0 25px 0; 
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: #0098bd;
}


p {
	font-family: 'Open Sans', sans-serif;
	color: black;
}

