.contact  {
	text-align: center;
	font-size: 5em;
	font-family: 'Open Sans', sans-serif;
	color: #0098bd;
}

.main-content {
	padding-top: 80px; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
}

.comment-blurb {
	text-align: center;
}

.subject-area {
/*	margin-left: 9px;*/
	margin-bottom: 2.5%;
}

.email-area {
/*	margin-left: 19px;*/
	margin-bottom: 2.5%;
}

.name-area {
/*	margin-left: 22px;*/

}

.contact-submit {
	margin: 20px 0 0 0px;
}

.message-area {
	width: 60%;
}

/*-----Small Devices-----*/
@media (max-width: 767px) {
	.message-area {
		width: 100%;
	}
	.name-area {
		width: 100%;
	}
	.contact-area {
		width: 100%;
	}
	.email-area {
		width: 100%;
	}
	.subject-area {
		width: 100%;
	}
}