.contact  {
	text-align: center;
	font-size: 5em;
	font-family: 'Open Sans', sans-serif;
	color: #0098bd;
}

.main-content {
	padding-top: 80px; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
}

.comment-blurb {
	text-align: center;
}

.subject-area {
	margin-left: 8px;
}

.contact-submit {
	margin: 20px 0 0 60px;
}